.MuiPaper-root.MuiPaper-elevation1.aggregates.MuiPaper-rounded{
    padding:10px;
    height:100px;
    /* color: #60788f */
}

h1{
    margin:0px;
}

h3{
    text-align:left;
    margin-bottom: 0px;
}

hr{
    border: 2px solid rgb(238, 235, 235)
}

.filterDiv{
    position: fixed;
    width:100%;
    background: #FAFAFA;
    z-index: 1
}

.spacer{
    margin-top:150px;
}