
.driver-container{
    margin: auto;
    text-align: center;
  }

.driver-table{
    width: 80%;
    margin: auto;
    text-align: center;
    border-spacing: 1;
    border-collapse: collapse;
}

.driver-table td{
  border: 1px solid black;
}

.driver-table > th{
  padding: 10px;
}

.row-input{
  width:100%;
  box-sizing: border-box;
  display: block;
}

h2{
  text-align: center;
}