.invoice-table{
    width: 100%;
    margin: auto;
    text-align: center;
    border-spacing: 1;
    border-collapse: collapse;
}

.invoice-table td{
    border: 1px solid black;
}

.invoice-table > th{
    padding: 10px;
}

.money-column {
    text-align: right;
    padding-right: 20px;
}

.invoice-container{
    width: 80%;
    
    margin: auto;
    text-align: center;
}

.selector{
    width:200px;
}

.invoice-selector-box{
    width: 100%;
}

.dateUnfilled{
    font-style: italic;
    color:#2ab400;
}

.totals-box{
    margin: 10px;
    text-align: right;
}

.invoice-header{
  
    width:100%;
}
.invoice-header-table{
    border-collapse: collapse;
    padding: 10px;
    width: 100%
}

.invoice-header-table > a{
    margin: 30px;
}

.invoice-table > tbody > tr:nth-child(odd) {
    background-color: rgb(235, 235, 235);
}

.light-bg{
    background-color:  rgb(235, 235, 235);
    padding: 5px;
}

.dark-bg{
    background-color:  rgb(0, 0, 0);
    color: white;
    padding: 5px;
}

.invoice-logo{
    display: inline;
    padding-right: 25%;
}


.invoiceContainer{
    background: rgb(230, 227, 227);
    margin-top: 20px;
    padding:10px
}

.hr{
    border: 1px solid whitesmoke
}

.date-span{
    display: block;
}
 .invoice-selector-box{
     margin-top: 25%;
     padding:15px
 }

 .MuiGrid-root.invoice-selector-box.MuiGrid-container.MuiGrid-spacing-xs-2{
     margin-top: 10px
 }

 .MuiGrid-root.storeSelector.MuiGrid-item.MuiGrid-grid-xs-3{
     margin-top:8px
 }

 #decisionButtons{
     margin-top:20px
 }


@media print {
    .no-print {
      display: none;
    }
    
    .header-print{
        font-size: 10px;
    }
    .invoice-info{
        color:black;
    }
    .invoiceContainer{
        background-color: transparent;
        margin-top: 0;
        box-shadow: none !important;
    }
    .print-date{
        display: block;
    }
} 
  
